<!-- menú móvil lateral -->
<div class="offcanvas offcanvas-end custom-offcanvas" tabindex="-1" id="mobileMenu">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Menú</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body d-flex flex-column gap-3">
    <a routerLink="/home" routerLinkActive="active" class="text-dark fw-bold text-decoration-none">INICIO</a>
    <a routerLink="/nosotros" routerLinkActive="active" class="text-dark fw-bold text-decoration-none">NOSOTROS</a>
    <a routerLink="/catalogo" routerLinkActive="active" class="text-dark fw-bold text-decoration-none">CATÁLOGO</a>
    <a routerLink="/canales" routerLinkActive="active" class="text-dark fw-bold text-decoration-none">CANALES</a>
  </div>
</div>