<section class="mapa background-color bg-opacity-10">
    <p class="animar-slide-up observar text-center title-mapa">ENCUENTRÁNOS AQUÍ</p>
    <section class="container gap-0">
        <article class="container p-2 map-container">
            <iframe class="animar-slide-up observar" [src]="localMapa" width="900" height="550" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <figcaption class="animar-slide-down observar fs-5 figure-caption">Referencia: A 2 cuadras de la cevichería Manos Morenas</figcaption>
        </article>
        <article class="animar-slide-right observar fs-4 container p-5 text-container">
            <div class="d-flex align-items-start">
                <div class="circle-icon me-3">1</div>
                <div>
                    <p class="fw-semibold">Tienda en Trujillo: Calle 28 de Julio 130 – Pasaje Manco Cápac</p>
                    <p>Horario de Atención: Lunes a Domingo de 9:00 a.m. a 9:00 p.m.</p>
                </div>
            </div>
            <hr class="my-3">
            <div class="d-flex align-items-start mb-4">
                <div class="circle-icon me-3">2</div>
                <div>
                    <p class="fw-semibold">Tienda en Lima (Mayorista): Jr. Paruro 637, Galería Calza Plaza I – Tiendas 31, 32 y 33</p>
                    <p>Horario de Atención: Jueves y Viernes de 5:00 a.m. a 1:00 p.m.</p>
                </div>
            </div>
        </article>
    </section>
</section>

