<section class="contenedor-nosotros">
    <div class = "video-overlay"></div>
    <div class="video-container">
        <video  
            #video1
            class="video-fade" 
            [class.video-visible] = "isVideo1Visible" 
            autoplay
            [muted] = "true"
            playsinline
            (ended)="onVideoEnded()" 
        ></video>
        <video  
            #video2
            class="video-fade" 
            [class.video-visible] = "!isVideo1Visible" 
            autoplay
            [muted] = "true"
            playsinline
            (ended)="onVideoEnded()"
        ></video>
    </div>
    <article class="contenedor-texto animar-slide-up observar">
        <div class="fw-bold title-nosotras">
            SOBRE NOSOTRAS
        </div>
        <div id="carouselTexto" class="carousel carousel-dark slide" style="min-height: 310px;">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselTexto" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Cuadro 1"></button>
                <button type="button" data-bs-target="#carouselTexto" data-bs-slide-to="1" aria-label="Cuadro 2"></button>
            </div>
            <div class="carousel-inner fs-4">
                <div class="carousel-item active">
                    <div class="h-100 px-4">
                        <div class = "description-text">
                            Somos una empresa familiar con más de 20 años de experiencia en la fabricación de calzado femenino, comprometidos con brindar productos de calidad, cómodos y a la moda. Nuestra historia nace en Trujillo, donde crecimos entre máquinas, moldes y mucha pasión por el diseño.
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="d-flex justify-content-center align-items-center h-100 px-4">
                        <div class = "description-text">
                            Hace 2 años que llevamos nuestra tienda física al mundo digital con transmisiones en vivo a través de TikTok, permitiendo que clientas de todo el Perú accedan a nuestras colecciones desde la comodidad de sus hogares. Somos es más que una marca: es una comunidad que crece con confianza, cariño y estilo.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "description-text desktop">
            <div class="text-left ">
                Somos una empresa familiar con más de 20 años de experiencia en la fabricación de calzado femenino, comprometidos con brindar productos de calidad, cómodos y a la moda. Nuestra historia nace en Trujillo, donde crecimos entre máquinas, moldes y mucha pasión por el diseño.
            </div>
            <div class="text-right" >
                Hace 2 años que llevamos nuestra tienda física al mundo digital con transmisiones en vivo a través de TikTok, permitiendo que clientas de todo el Perú accedan a nuestras colecciones desde la comodidad de sus hogares. Somos es más que una marca: es una comunidad que crece con confianza, cariño y estilo.
            </div>
        </div>
    </article> 
</section>
