<footer class="footer">
  <div class="footer-top">
    <div class="footer-section logo-section">
      <img src="assets/logo.png" alt="Logo Rousse Moda" class="footer-logo" routerLink="/home" type="button"/>
    </div>

    <div class="footer-section center-section">
      <a [routerLink]="['/nosotros']" fragment="seccion-mapa">
        <h4>UBÍCANOS</h4>
        <p>Calle 28 de Julio 130 – Pasaje Manco Cápac, Florencia de Mora</p>
        <p>Lunes a Sábado: 9:00 am - 9:00 pm.</p>
      </a>
    </div>

    <div class="footer-section center-section">
      <h4>LEGALES</h4>
      <p><a [routerLink]="['/politicas']">Términos y Condiciones</a></p>
      <p><a [routerLink]="['/politicas']">Políticas de Devoluciones</a></p>
    </div>

    <div class="footer-section redes-section center-section">
      <h4>SÍGUENOS</h4>
      <div class="footer-redes-icons">
        <a href="https://wa.me/51919677050" target="_blank" rel="noopener noreferrer">
          <img src="assets/redes/whatsapp.png" alt="Whatsapp" />
        </a>
        <a href="https://www.tiktok.com/@roussemoda1" target="_blank" rel="noopener noreferrer">
          <img src="assets/redes/tik-tok.png" alt="TikTok" />
        </a>
        <a href="https://www.instagram.com/roussemodaoficial" target="_blank" rel="noopener noreferrer">
          <img src="assets/redes/instagram.png" alt="Instagram" />
        </a>
        <a href="https://www.facebook.com/roussemodaoficial" target="_blank" rel="noopener noreferrer">
          <img src="assets/redes/facebook.png" alt="Facebook" />
        </a>
      </div>
    </div>


  </div>

  <div class="footer-bottom">
    <p>Copyright © 2025</p>
    <p>Todos los derechos reservados</p>
  </div>
</footer>
