<aside class="animar-slide-up observar contenedor-redes position-relative text-center my-4">
  <!-- Título -->
  <span class="titulo-redes position-absolute px-3 py-1 fs-4 fw-semibold">
    Canales Oficiales
  </span>
  <!-- Caja de íconos -->
  <div class="border border-dark border-2 p-3 rounded d-flex justify-content-center gap-4 redes-box">
    <img src="/assets/redes/whatsapp.png" class="icono-red">
    <img src="/assets/redes/tik-tok.png" class="icono-red">
    <img src="/assets/redes/instagram.png" class="icono-red">
    <img src="/assets/redes/facebook.png" class="icono-red">
  </div>
</aside>